<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Odin Landing Page</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div class="container">
    <div class="bk-blue">
      <div class="navbar">
        <h1>Header logo</h1>
        <div class="navbar-links">
          <p>link one</p>
          <p>link two</p>
          <p>link three</p>
        </div>
      </div>
      <div class="card-and-image">
        <div class="card">
          <h1>This website is awesome</h1>
          <p>some text in website.</p>
          <button>Sign Up</button>
        </div>
        <div>
          <img src="../images/pexels-any-lane-5946050.jpg" alt="image-card">
        </div>
      </div>
    </div>
    <div class="content-one">
      <h1>Some random information.</h1>
      <div class="content-one-photos">
        <div>
          <img src="../images/pexels-dominika-roseclay-2095924.jpg" alt="Avocado">
          <p>Avocado</p>
        </div>
        <div>
          <img src="../images/pexels-dominika-roseclay-2208750.jpg" alt="Lemon">
          <p>Lemon</p>
        </div>
        <div>
          <img src="../images/pexels-karolina-grabowska-4038801.jpg" alt="Strawberry">
          <p>Strawberry</p>
        </div>
        <div>
          <img src="../images/pexels-polina-tankilevitch-4110305.jpg" alt="Pumpkin">
          <p>Pumpkin</p>
        </div>
      </div>
    </div>
    <div>
      <div class="quote">
        <p>
          statement - Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <h2>firma</h2>
        </p>
      </div>
    </div>
    <div>
      <div class="card-sign-up">
        <div>
          <h1>Call to action is Time!</h1>
          <p>Sign upfor our product</p>
        </div>
        <div>
          <button>Sign Up</button>
        </div>
      </div>
    </div>
    <footer class="footer bk-blue">
      <h3>Copyright &copy; 2023 SantiLS</h3>
    </footer>
  </div>
</body>
</html>
